<div class="row">
  <div class="col-md-8 offset-2">
    <center>
      <div class="card">
        <div class="card-body">
          <img src={{image}} alt="">
          <h3>{{name}}, Now you are logged in with google</h3>
        </div>
      </div>
    </center>
  </div>
</div>